services:
  openclaw:
    build: .
    container_name: openclaw
    restart: unless-stopped

    environment:
      NODE_OPTIONS: --dns-result-order=ipv4first
      OPENCLAW_GATEWAY_TRUSTEDPROXIES: "*"
      OPENCLAW_CONTROLUI_ALLOWINSECUREAUTH: "true"

    ports:
      - "8789:18789"

    volumes:
      - openclaw-data:/root/.openclaw

volumes:
  openclaw-data:
